{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="">
        <div class="row">
            <div class="latest col">
                <h2>Latest</h2>
                <div class="latest-wrapper">
                    {% for text in latest_texts %}
                        <h4 class="latest-title"><a href="{{ text.get_absolute_url }}"><i class="fas fa-caret-right"></i>&nbsp;&nbsp;{{ text.title }}</a></h4>
                        <p class="latest-summary">{{ text.summary }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="featured col-6">
                <h2>Featured Articles</h2>
                <div class="featured-wrapper">
                    {% for text in featured_texts %}
                        <h1 class="featured-title"><a href="{{ text.get_absolute_url }}">{{ text.title }}</a></h1>
                        <p>{{ text.summary }}</p>
                        <div class="featured-text-image" style="background-image: url('{{ text.image.url }}');"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="topics col">
                <h2>Topics</h2>
                <div class="topics-wrapper">
                    {% for topic in topics %}
                        <h4 class="topic-name"><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></h4>
                    {% endfor %}
                </div>
                <h2>Countries</h2>
                <div class="countries-wrapper">
                    {% for country in countries %}
                        <h4 class="country-name"><a href="{{ country.get_absolute_url }}">{{ country.name }}</a></h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}