{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="jumbotron">
        <div class="row text-center">
            <h1 class="col-4">{{ object.owner_name }}</h1>
            <div class="col-8">
                <p>{{ object.owner_description }}</p>
            </div>
        </div>
    </section>
    <section class="browse-authors">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% for text in object.owner_texts.all %}
                        <p><a href="{{ text.get_absolute_url }}">{{ text.text_title }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}