{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="jumbotron">
        <div class="row">
            <div class="col-4 text-left">
            <h1 class="serif">{{ object.name }}</h1>
            <h2 class="serif1">{{ object.original_name }}</h2>
            <p class="owner-url"><a href="{{ object.url }}"><i class="fas fa-external-link-alt"></i></a></p>
        </div>
            <div class="col-8 text-center">
                <p>{{ object.description }}</p>
            </div>
        </div>
    </section>
    <section class="browse-authors">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                        {% for text in object.owner_texts.all %}
                        <h3><a class="serif" href="{{ text.get_absolute_url }}">{{ text.title }}</a> // <a class="serif1" href="{{ text.get_absolute_url }}">{{ text.original_title }}</a></h3>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}