{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="text-jumbotron">
        <div class="row">
            <div class="col-8 text-left">
                <h1 class="text-title">{{ object.title }}//</h1>
                <h3 class="text-original-title">{{ object.original_title }}</h3>
                <h4 class="text-date">{{ object.date }}</h4>
                <p class="text-url"><a href="{{ object.url }}"><i class="fas fa-external-link-alt"></i></a></p>
            </div>
            <div class="col-4" style="background-image: url('{{ object.image.url }}');">
            </div>
        </div>
    </section>
    <div>
        <div class="article-info row">
            <div class="container">
                <div class="col country">Country: 
                {% for country in object.country.all %}
                    {% if forloop.last %}
                        <span class="country-name"><a href="{{ country.get_absolute_url }}">{{ country.name }}</a></span>
                    {% else %}
                        <span class="country-name"><a href="{{ country.get_absolute_url }}">{{ country.name }}, </a></span>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col publisher-name"><span>Published by: </span><a href="{{ object.owner.get_absolute_url }}">{{ object.owner }}</a></div>
            <div class="col authors"><span>By: </span>
            {% for author in object.author.all %}
                {% if forloop.last %}
                    <span class="author-name"><a href="{{ author.get_absolute_url }}">{{ author.full_name }}</a></span>
                {% else %}
                    <span class="author-name"><a href="{{ author.get_absolute_url }}">{{ author.full_name }}, </a></span>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col themes"><span>Topics: </span>
        {% for theme in object.themes.all %}
            {% if forloop.last %}
                <span class="theme-name"><a href="{{ theme.get_absolute_url }}">{{ theme.name }}</a></span>
            {% else %}
                <span class="theme-name"><a href="{{ theme.get_absolute_url }}">{{ theme.name }}, </a></span>
            {% endif %}
        {% endfor %}
    </div>
</div>
</div>
</div>
</div>
<section class="browse-authors">
<div class="album py-5 bg-light">
<div class="container">
<div class="row text-container">
    <div class="col">
        <p>{{ object.text_original|safe }}</p>
    </div>
    <div class="col">
        <p>{{ object.text_translation|safe }}</p>
    </div>
</div>
</div>
</div>
</section>
{% endblock %}