{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="jumbotron">
        <div class="row text-center">
            <h1 class="col-4">Topics</h1>
            <div class="col-8">
                <p>All of them</p>
            </div>
        </div>
    </section>
    <section class="browse-authors">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Topics</h1>
                        {% for topic in object_list %}
                        <p><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <h1>Countries</h1>
                        {% for country in countries %}
                        <p><a href="{{ country.get_absolute_url }}">{{ country.name }}</a></p>
                        {% endfor %}
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}